:root{
    --main-color:#404BBF;
}

body{
    font-family: Roboto, sans-serif;
    color:#434455;
    background-color: #fff;
}

.button{
    line-height: 24px;
    padding: 12px 24px;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    background: #F4F4FD;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4D5AE5;
}

.button:hover{
    background: var(--main-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12); 
    color: #fff; 
}

.button:focus{
    background: var(--main-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12); 
    color: #fff;
    outline: none;
}

.link{
    line-height: 24px;
    font-size: 16px;
    color: #434455;
    font-style: normal;
}

.link:hover,.link:focus{
    color: var(--main-color);
    outline: none;
}

.web-logo,.studio-logo{
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17em;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-color);
    text-decoration: none;

}
.studio-logo{
    color: #2E2F42;
}

.main-button{
    line-height: 24px;
    border: 1px solid #E7E9FC;
    border-radius: 4px;
    background: #F4F4FD;
    justify-content: center;
    align-items: center;
    color: #4D5AE5;
    padding: 16px 32px;
    display: flex;
}

.main-button:hover{
    background: var(--main-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); 
    color: #fff; 
}

.section{
    font-family: Roboto, sans-serif;
    color:#434455;
    background-color: #fff;
    font-weight: 500;
}
